[submodule "vendor/github.com/mkevac/debugcharts"]
	path = vendor/github.com/mkevac/debugcharts
	url = https://github.com/mkevac/debugcharts
[submodule "vendor/github.com/pkg/errors"]
	path = vendor/github.com/pkg/errors
	url = https://github.com/pkg/errors
[submodule "vendor/github.com/fatih/color"]
	path = vendor/github.com/fatih/color
	url = https://github.com/fatih/color
[submodule "vendor/github.com/gorilla/websocket"]
	path = vendor/github.com/gorilla/websocket
	url = https://github.com/gorilla/websocket
[submodule "vendor/github.com/micro/go-micro"]
	path = vendor/github.com/micro/go-micro
	url = https://github.com/micro/go-micro
[submodule "vendor/github.com/dgrijalva/jwt-go"]
	path = vendor/github.com/dgrijalva/jwt-go
	url = https://github.com/dgrijalva/jwt-go
[submodule "vendor/github.com/spf13/viper"]
	path = vendor/github.com/spf13/viper
	url = https://github.com/spf13/viper
[submodule "vendor/github.com/gorilla/mux"]
	path = vendor/github.com/gorilla/mux
	url = https://github.com/gorilla/mux
[submodule "vendor/github.com/petermattis/goid"]
	path = vendor/github.com/petermattis/goid
	url = https://github.com/petermattis/goid
[submodule "vendor/github.com/coocood/freecache"]
	path = vendor/github.com/coocood/freecache
	url = https://github.com/coocood/freecache
[submodule "vendor/github.com/cespare/xxhash"]
	path = vendor/github.com/cespare/xxhash
	url = https://github.com/cespare/xxhash
[submodule "vendor/github.com/confluentinc/confluent-kafka-go"]
	path = vendor/github.com/confluentinc/confluent-kafka-go
	url = https://github.com/confluentinc/confluent-kafka-go
[submodule "vendor/github.com/astaxie/beego"]
	path = vendor/github.com/astaxie/beego
	url = https://github.com/astaxie/beego
[submodule "vendor/github.com/aceld/zinx"]
	path = vendor/github.com/aceld/zinx
	url = https://github.com/aceld/zinx
[submodule "vendor/github.com/XiaoMi/Gaea"]
	path = vendor/github.com/XiaoMi/Gaea
	url = https://github.com/XiaoMi/Gaea
[submodule "vendor/github.com/go-ini/ini"]
	path = vendor/github.com/go-ini/ini
	url = https://github.com/go-ini/ini
[submodule "vendor/github.com/gin-contrib/gzip"]
	path = vendor/github.com/gin-contrib/gzip
	url = https://github.com/gin-contrib/gzip
[submodule "vendor/github.com/gin-gonic/gin"]
	path = vendor/github.com/gin-gonic/gin
	url = https://github.com/gin-gonic/gin
[submodule "vendor/github.com/gocolly/colly"]
	path = vendor/github.com/gocolly/colly
	url = https://github.com/gocolly/colly
[submodule "vendor/github.com/uber-go/ratelimit"]
	path = vendor/github.com/uber-go/ratelimit
	url = https://github.com/uber-go/ratelimit
[submodule "vendor/github.com/Shopify/sarama"]
	path = vendor/github.com/Shopify/sarama
	url = https://github.com/Shopify/sarama
[submodule "vendor/gopkg.in/jcmturner/aescts.v1"]
	path = vendor/gopkg.in/jcmturner/aescts.v1
	url = https://gopkg.in/jcmturner/aescts.v1
[submodule "vendor/gopkg.in/jcmturner/dnsutils.v1"]
	path = vendor/gopkg.in/jcmturner/dnsutils.v1
	url = https://gopkg.in/jcmturner/dnsutils.v1
[submodule "vendor/gopkg.in/jcmturner/rpc.v1"]
	path = vendor/gopkg.in/jcmturner/rpc.v1
	url = https://gopkg.in/jcmturner/rpc.v1
[submodule "vendor/github.com/klauspost/compress"]
	path = vendor/github.com/klauspost/compress
	url = https://github.com/klauspost/compress
[submodule "vendor/github.com/klauspost/cpuid"]
	path = vendor/github.com/klauspost/cpuid
	url = https://github.com/klauspost/cpuid
[submodule "vendor/github.com/klauspost/pgzip"]
	path = vendor/github.com/klauspost/pgzip
	url = https://github.com/klauspost/pgzip
[submodule "vendor/github.com/eapache/go-resiliency"]
	path = vendor/github.com/eapache/go-resiliency
	url = https://github.com/eapache/go-resiliency
[submodule "vendor/github.com/eapache/go-xerial-snappy"]
	path = vendor/github.com/eapache/go-xerial-snappy
	url = https://github.com/eapache/go-xerial-snappy
[submodule "vendor/github.com/eapache/queue"]
	path = vendor/github.com/eapache/queue
	url = https://github.com/eapache/queue
[submodule "vendor/github.com/hashicorp/go-uuid"]
	path = vendor/github.com/hashicorp/go-uuid
	url = https://github.com/hashicorp/go-uuid
[submodule "vendor/github.com/jcmturner/gofork"]
	path = vendor/github.com/jcmturner/gofork
	url = https://github.com/jcmturner/gofork
[submodule "vendor/github.com/jcmturner/rcrowley/go-metrics"]
	path = vendor/github.com/jcmturner/rcrowley/go-metrics
	url = https://github.com/rcrowley/go-metrics
[submodule "vendor/github.com/golang/snappy"]
	path = vendor/github.com/golang/snappy
	url = https://github.com/golang/snappy
[submodule "vendor/github.com/pierrec/lz4"]
	path = vendor/github.com/pierrec/lz4
	url = https://github.com/pierrec/lz4
[submodule "vendor/github.com/rcrowley/go-metrics"]
	path = vendor/github.com/rcrowley/go-metrics
	url = https://github.com/rcrowley/go-metrics
[submodule "vendor/github.com/hajimehoshi/ebiten"]
	path = vendor/github.com/hajimehoshi/ebiten
	url = https://github.com/hajimehoshi/ebiten
[submodule "vendor/github.com/8treenet/freedom"]
	path = vendor/github.com/8treenet/freedom
	url = https://github.com/8treenet/freedom
[submodule "vendor/github.com/jinzhu/gorm"]
	path = vendor/github.com/jinzhu/gorm
	url = https://github.com/jinzhu/gorm
[submodule "vendor/github.com/alibaba/sentinel-golang"]
	path = vendor/github.com/alibaba/sentinel-golang
	url = https://github.com/alibaba/sentinel-golang.git
[submodule "vendor/github.com/mreiferson/go-options"]
	path = vendor/github.com/mreiferson/go-options
	url = https://github.com/mreiferson/go-options.git
