[submodule "vendor/github.com/mkevac/debugcharts"]
	path = vendor/github.com/mkevac/debugcharts
	url = https://github.com/mkevac/debugcharts
[submodule "vendor/github.com/pkg/errors"]
	path = vendor/github.com/pkg/errors
	url = https://github.com/pkg/errors
[submodule "vendor/github.com/fatih/color"]
	path = vendor/github.com/fatih/color
	url = https://github.com/fatih/color
[submodule "vendor/github.com/gorilla/websocket"]
	path = vendor/github.com/gorilla/websocket
	url = https://github.com/gorilla/websocket
[submodule "vendor/github.com/micro/go-micro"]
	path = vendor/github.com/micro/go-micro
	url = https://github.com/micro/go-micro
[submodule "vendor/github.com/dgrijalva/jwt-go"]
	path = vendor/github.com/dgrijalva/jwt-go
	url = https://github.com/dgrijalva/jwt-go
[submodule "vendor/github.com/spf13/viper"]
	path = vendor/github.com/spf13/viper
	url = https://github.com/spf13/viper
[submodule "vendor/github.com/gorilla/mux"]
	path = vendor/github.com/gorilla/mux
	url = https://github.com/gorilla/mux
[submodule "vendor/github.com/petermattis/goid"]
	path = vendor/github.com/petermattis/goid
	url = https://github.com/petermattis/goid
[submodule "vendor/github.com/coocood/freecache"]
	path = vendor/github.com/coocood/freecache
	url = https://github.com/coocood/freecache
[submodule "vendor/github.com/cespare/xxhash"]
	path = vendor/github.com/cespare/xxhash
	url = https://github.com/cespare/xxhash
[submodule "vendor/github.com/confluentinc/confluent-kafka-go"]
	path = vendor/github.com/confluentinc/confluent-kafka-go
	url = https://github.com/confluentinc/confluent-kafka-go
[submodule "vendor/github.com/astaxie/beego"]
	path = vendor/github.com/astaxie/beego
	url = https://github.com/astaxie/beego
[submodule "vendor/github.com/aceld/zinx"]
	path = vendor/github.com/aceld/zinx
	url = https://github.com/aceld/zinx
[submodule "vendor/github.com/XiaoMi/Gaea"]
	path = vendor/github.com/XiaoMi/Gaea
	url = https://github.com/XiaoMi/Gaea
