[submodule "vendor/github.com/mkevac/debugcharts"]
	path = vendor/github.com/mkevac/debugcharts
	url = https://github.com/mkevac/debugcharts
[submodule "vendor/github.com/pkg/errors"]
	path = vendor/github.com/pkg/errors
	url = https://github.com/pkg/errors
[submodule "vendor/github.com/gorilla/mux"]
	path = vendor/github.com/gorilla/mux
	url = https://github.com/gorilla/mux
[submodule "vendor/github.com/fatih/color"]
	path = vendor/github.com/fatih/color
	url = https://github.com/fatih/color
[submodule "vendor/github.com/gorilla/websocket"]
	path = vendor/github.com/gorilla/websocket
	url = https://github.com/gorilla/websocket
[submodule "vendor/github.com/micro/go-micro"]
	path = vendor/github.com/micro/go-micro
	url = https://github.com/micro/go-micro
